@page
@model Disc_Cord.Pages.CookiePolicyModel
@{
}

<h3>Cookie Policy</h3>

<p>Vi använder cookies för att förbättra din upplevelse på vår webbplats. Genom att fortsätta använda vår webbplats godkänner du vår användning av cookies.</p>

<h6 class="mb-0">Vad är cookies?</h6>
<p>Cookies är små textfiler som lagras i din webbläsare av sidor du besöker. De innehåller vanligtvis en hemsida och en identifierare.</p>

<h6 class="mb-0">Hur använder vi cookies?</h6>
<p>
    Vi använder cookies för att förbättra din upplevelse på vår webbplats.
    Vi använder också cookies för att samla in information om hur besökare använder vår webbplats.
    Vi använder denna information för att skapa rapporter och hjälpa oss att förbättra webbplatsen. Cookies samlar inte in personlig information om dig.
</p>

<h6 class="mb-0">Hur kan jag kontrollera användningen av cookies?</h6>
<p>
    Du kan kontrollera och/eller radera cookies som du önskar. Du kan radera alla cookies som redan
    finns på din dator och du kan ställa in de flesta webbläsare så att de inte tillåter att cookies sparas.
    Om du gör detta kan det dock hända att vissa funktioner på vår webbplats inte fungerar korrekt.
</p>