@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Disc-Cord</h1>
    <p>Snacka disc, köp/sälj/byt eller visa din kanin :D</p>
    <p>Snacka disc, köp/sälj/byt eller visa din kanin :D</p>

</div>
