@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <img class="w-50" style="max-width: 400px" src="~/img/NewLogoText.png" />
    <p class="fs-5">Forumet där vi pratar disc och annat</p>

</div>
