@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <div>
        <img class="w-50" style="max-width: 400px" src="~/img/NewLogoText.png" />
    </div>
    <div>
    <img class="w-75" src="~/img/private/startpageimg.png" style="max-width: 800px; border: double; border-width: thick;  border-radius: 5%">
    </div>
    <div>
        <p class="fs-5 mt-4">Är du trött på att din partner inte lyssnar på om hur din runda var? <br />
            Eller att dina kollegor ställer dumma frågor som "Varför behöver du så många discar?". <br />
            Välkommen in i värmen på forumet <span class="fw-bold">Disc<span class="text-warning">Connected.</span> </span><br />
            Skapat av entusiaster för entusiaster.
        </p>
    </div>

</div>
