@page
@model Disc_Cord.Pages.MessagesModel
@inject SignInManager<Models.ApplicationUser> SignInManager
@inject UserManager<Models.ApplicationUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
	var unRead = Model.Messages.Where(x => x.IsRead == false).ToList();
}
@if (SignInManager.IsSignedIn(User))
{
	@if (Model.Messages != null)
	{

		<a class="btn btn-success mb-2" asp-route-userid="@user.Id" asp-page="./Inbox">Inbox @unRead.Count</a>

	}
	<hr />

	<form method="post">

		<input asp-for="NewMessage.SenderId" type="hidden" value="@user.Id" />

		<label asp-for="NewMessage.ReceiverId"></label>
		<select asp-for="NewMessage.ReceiverId" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))"></select>
		<textarea asp-for="NewMessage.Text" class="form-control" cols="40" rows="5"></textarea>
		<br>
		<input type="submit" name="addTask" value="Skicka" class="btn btn-primary" />

	</form>
}
