@page
@model PrivacyModel
@{
    ViewData["Title"] = "Forumregler";
}
<h1>@ViewData["Title"]</h1>


<p>Lägg inte ut personlig information i forumet, till exempel personlig e-post, telefonnummer, namnet på din ort eller din adress. </p>

<p class="mb-0">Vi vill att du:</p>
<ul>
    <li>Är mot andra så som du vill att andra ska vara mot dig.</li>
    <li>För diskussion i sak och inte ägnar dig åt personliga påhopp.</li>
    <li>Respekterar andra medlemmars åsikter, även om ni ibland tycker olika.</li>
    <li>Inte lägger ut personlig information.</li>
    <li>Följer DiscConnecteds etiska riktlinjer.</li>
</ul>


<h5>DiscConnecteds etiska riktlinjer:</h5>
<h6 class="mb-0">Språk och tilltal</h6>
<p class="mt-0">Skriv på svenska och skriv en tydlig rubrik, till exempel: “Jag söker en Mako3” eller till exempel “Vad tycker du om Krut?”.
Vårda språket
Använd ett vårdat, städat språk och ha en hövlig attityd. Kommentera inte andras sätt att skriva, såsom felstavningar, särskrivningar etcetera. Vi tillåter inte svordomar eller könsord.</p>
    
<h6 class="mb-0">Håll dig till ämnet</h6>
<p class="mt-0">
Avvik inte från trådens ursprungliga ämne, starta hellre en ny tråd själv om du vill föra in inlägget på ett nytt spår.</p>
      
<h6 class="mb-0">Respektera andras åsikter</h6>
<p class="mt-0">Ibland har andra medlemmar helt andra åsikter. Det måste man respektera; diskutera sakfrågan utan att gå till personangrepp.</p>

<h6 class="mb-0">Driv diskussionerna framåt</h6>
<p class="mt-0">Lite andra viktiga rekommendationer, för att hålla kvaliteten på trådar uppe. Om du inte har något konstruktivt att säga så säg inget. Att skapa inlägg för skapandets skull leder ingenstans. Skriv kreativa inlägg som flyttar frågan framåt, istället för att bara säga emot. Motivera dina åsikter och tänk till i förväg.</p>

<h6 class="mb-0">Admin kan radera inlägg utan att meddela detta</h6>
<p class="mt-0">Om ett inlägg inte följer dessa enkla regler eller om man uppger sig att vara någon annan kan Admin för DiscConnected radera inlägget och profilen utan vidare kommentar. Dessa beslut är inte förhandlingsbara.</p>

<h6 class="mb-0">Följa lagar</h6>
<p class="mt-0 mb-0">Det är fritt fram att tycka och diskutera i våra forum – men du måste följa svensk lag. Det är inte tillåtet med:</p>
<ul>
    <li>Rasistiska inslag</li>
    <li>Hets mot folkgrupp</li>
    <li>Pornografi</li>
    <li>Uppmaningar till brott</li>
    <li>Hot</li>
    <li>Kränkningar</li>
    <li>Främjande av droger, alkohol eller tobak</li>
    <li>Politisk eller religiös propaganda</li>
    <li>Spridande av andras personuppgifter</li>
    <li>Intrång i annans upphovsrätt</li>
</ul>

<h6 class="mb-0">Upphovsrätt</h6>
<p class="mt-0 mb-0">Enligt lagen om upphovsrätt får du inte kopiera, publicera eller överföra andra användares bilder utan att först ha fått upphovsmannens tillåtelse. Det är dessutom olagligt att ladda upp upphovsrättsskyddat material, exempelvis bilder från google, utan tillstånd från upphovsmannen. Detta gäller även för material som bryter mot någon annans rättigheter, exempelvis patenträttigheter och varumärkesrättigheter.</p>