@page
@model Disc_Cord.Pages.Admin.IndexModel
@{
}
<div class="text-center">
    <h1>ADMIN</h1>
</div>

<ul>
    <li><a asp-page="/Admin/ForumAdmin/Index">Forum</a></li>
    <li><a asp-page="/Admin/SubforumAdmin/Index">SubForum</a></li>
    <li><a asp-page="/Admin/RoleAdmin/Index">Roller</a></li>
    <li><a asp-page="/Admin/ReportedAdmin/Index">Rapporterade inlägg/kommentarer</a></li>
</ul>
