@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Använd ett lokalt konto för att logga in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Lösenord</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @*@Html.DisplayNameFor(m => m.Input.RememberMe)*@
                        Kom ihåg mig?
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-warning">Logga in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" class="text-decoration-none" asp-page="./ForgotPassword">Glömt ditt lösenord?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" class="text-decoration-none" asp-route-returnUrl="@Model.ReturnUrl">Registrera en ny användare</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" class="text-decoration-none" asp-page="./ResendEmailConfirmation">Skicka bekräftelsemail på nytt</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset">
        <section>
            <h3 class="fw-bold text-center">Disc<span class="text-warning">Connected</span></h3>
            <img src="~/img/private/login.png" class="w-100" style="max-width: 800px; border: double; border-width: thick;  border-radius: 5%" />
              
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
